<!DOCTYPE HTML>
<html>
<head>
    <title>Dimje's Web Service</title>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8"/>

</head>
<body>
<h1>Dimje's Web Service {{test}}</h1>
</body>
</html>